* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


/* Navbar start */

.navbar_top {
    width: 100%;
    height: 50px;

    background: linear-gradient(90deg, rgb(12, 2, 151), rgb(231, 94, 3));

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_top_logo {
    display: flex;
    align-items: center;
    gap: 20px;

    width: 200px;


    color: white;
}

.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.navbar_bottom {
    background-color: black;
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
}

.navbar_bottom_cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_bottom_logo {
    display: flex;
    align-items: center;
    gap: 20px;

    color: white;
}

.navbar_bottom_lists {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar_bottom_link {
    color: white;
    transition: 0.5s;
}

.navbar_bottom_list :hover {
    color: rgb(231, 94, 3);
}

/* Header start */
.header {
    position: relative;
}

.header_parda {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

}


.header_parda_cards {
    width: 460px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    color: white;

    margin-left: 100px;
}

.header_parda_title {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header_text {
    font-size: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    margin-top: 20px;
}

.header_parda_btn {
    height: 30px;
    width: 100px;

    background-color: black;
    color: rgb(0, 0, 0);
    font-size: 10px;

    border-radius: 3px;
    margin-top: 20px;
    transition: 0.4s;
    cursor: pointer;
    background-color: rgb(231, 94, 3);
    border-color: rgb(231, 94, 3);

}

.header_parda_btn:hover {
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 0 18px 40 px rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    border: 1px outset rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(16px);
}

/* Main start */
.main {
    width: 100%;
}

/* Films start */
.films {
    width: 100%;
    background-color: #040D1F;
    padding-top: 44px;
    padding-bottom: 70px;
    padding-left: auto;
    padding-right: auto;
}

.films_cards_title {
    font-size: 36px;
    font-weight: 400;
    color: #F18128;

}

.films_cards_title::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: #F18128;
    margin: 1px 0 54px;
}

.films_cards {
    display: flex;
    justify-content: space-between;
}

.films_card {
    width: 255px;
    height: 367px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.films_card_img {
    width: 100%;
    height: 100%
}

.films_card_parda {
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 30px;
    color: white;
    z-index: 3;
    padding: 0 15px;
}

.films_card_pardaz {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#F1812859, black);
    opacity: 0.7;
}

.films_card_parda_time {
    width: 100px;
    height: 24px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
}

/* Widow start */
.widow {
    width: 100%;
    margin-top: -48px;

}

.widow_f {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.widow_img {
    width: 445px;
    height: 100px;
}

.widow_video {
    height: 500px;
    width: 717px;
    margin-right: -100px;
}

.widow_video_parda {
    background: linear-gradient(90deg, white, rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 48px;
}

.widow_trailer {
    position: relative;
}

.widow_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.widow_btn {
    width: 166px;
    height: 46px;
    border-radius: 4px;
    background-color: #F18128;
    border: 1px solid #F18128;
    transition: 0.7s;
}
.widow_btn :hover{
    color: white;
    border: 1px solid black;
}